worker_processes 1;
 
events { worker_connections 20; }
 
http {
    sendfile on;
 
    upstream store {
        server store:8080;
    }
 
    server {
        listen 80;
        root /usr/share/nginx/html;
 
        location /api {
            proxy_pass         http://store;
            proxy_redirect     off;
        }
        
	location / {
        }
    }
}
